<!-- <app-header></app-header>


<router-outlet></router-outlet>
<h1>{{ 'login' | translate }}</h1>

<input placeholder="{{ 'email' | translate }}">
<button>{{ 'submit' | translate }}</button>

<app-footer></app-footer> -->

<!-- Splash Screen -->
<app-splash *ngIf="!showContent"></app-splash>

<!-- Main App Layout -->
<ng-container *ngIf="showContent">
  <app-header></app-header>

  <main class="container min-h-screen mx-auto mt-[5.5rem] px-0">
    <router-outlet></router-outlet>
  </main>

  <app-footer></app-footer>
</ng-container>
